<div class="container-fluid bg-light mx-auto p-1 row d-flex">
<div class="p-3 bg-dark" style="width : 25% ; background: white;">
  <div class="text-center">
   <div><img class="thumbnail rounded-circle mt-4" src="/assets/user.png" style="background: white ;width: 30%; height: 30%"></div>
   <div class="mt-3 mb-3">
   <div><h3 style="color: lightgray;">{{user1}}</h3></div>
   </div>
 </div>
 <div class="mt-5">
     <div class="container-fluid text-light text-center">
        <a href="/profile" style="text-decoration: none; color: orangered;"><div>ABOUT ME</div></a><hr>
        <a href="/add-blog" style="text-decoration: none;  color: orangered;"><div>WRITE A BLOG</div></a><hr>
        <a href="/edit-profile" style="text-decoration: none;  color: orangered;"><div>EDIT PROFILE</div></a><hr>
    </div>

 </div>
</div>
<div class="ml-auto p-3" style="width: 74.5%; background: white;">
 <div class="container-fluid p-2">
   <h2 style="color: orangered;">Welcome {{user1}}</h2>
   <hr>

 <div>
   <div *ngIf="IsBlog" class="container">
       <div class="mb-3" *ngFor="let d of DATA_B" style="border: 1px solid lightgray;">
        <div class="p-2 d-flex" style="background: wheat;">
          <div >{{d.title}}</div>
          <div class="text-right ml-auto">{{d.date1}}</div>
        </div>
        <div class="p-2">
          {{d.description}}
        </div>
        <hr>
        <div class="p-2">
          Published By :<br>
          {{d.user.username}}
        </div>
       </div>
   </div>

   <div *ngIf="IsUser" class="container">
      <div class="mb-3" *ngFor="let d of DATA_U" style="border: 1px solid lightgray;">
       <div class="p-2" style="background: wheat;">
         {{d.username}}
         <div class="d-flex">
         <div><button class="btn btn-info" (click)="viewProfile(d.username)">View profile</button></div>
         <div class="ml-auto"><button class="btn btn-danger"> <i class="fa fa-minus-circle" aria-hidden="true"></i>  Unfollow</button></div>
         <div class="ml-auto"><button class="btn btn-info"> <i class="fa fa-plus" aria-hidden="true"></i>  Follow</button></div>
       </div>
       </div>
      </div>
  </div>
</div>

<div>
  <div *ngIf="IsBlog" class="container">
      <div class="mb-3" *ngFor="let d of DATA_HOME" style="border: 1px solid lightgray;">
       <div class="p-2 d-flex" style="background: wheat;">
         <div >{{d.title}}</div>
         <div class="text-right ml-auto">{{d.date1}}</div>
       </div>
       <div class="p-2">
         {{d.description}}
       </div>
       <hr>
       <div class="p-2">
         Published By :<br>
         {{d.user.username}}
       </div>
      </div>
  </div>

</div>
</div>
</div>